body {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    position: relative;
    text-align: center;
}
p {
    font-size: large;
}



#img1 {
    display: inline-block;
    max-width: 100%;


}
#img2 {
    display: inline-block;
    max-width: 100%;


}
#img3 {
    display: inline-block;
    max-width: 100%;

}
#img4 {
    display: inline-block;
    max-width: 100%;
;
}